// fonts
$primary-font: 'Roboto', sans-serif;

// colors
$primary-color: #2196F3;
$primary-medium: #26A69A;
$primary-light: #FF9800;
$primary-dark: #0D47A1;

$bg-white: #FAFAFA;

$error-bg: #D13135;
$error-color: #FCECEB;
$success-bg: #C5DFA6;
$success-color: #171915;
$info-bg: #FCD748;
$info-color: #FFF9EB;
