iframe#camera_stream {
	border: none;
	min-height: 100px;
	width: 100%;
}

img#camera_stream, img#image_stream, img#archive_camera_stream {
	width: 100%;
}

img#static {
	width: 100%;
}

.card.disabled {
	opacity: 0.8;
}
