body {
	font-family: $primary-font;
	background-color: $bg-white;
}

// custom error messages
.collection a {
	&.error {
		color: $error-color;
		background-color: $error-bg;
	}
	&.success {
		color: $success-color;
		background-color: $success-bg;
	}
	&.info {
		color: $info-color;
		background-color: $info-bg;
	}
}
